{% load static %}
{# Shared product artwork: uploaded photo, else category artwork. Usage: {% include "products/_img.html" with product=p cls="product-image" %} #}
{% if product.image %}
<img src="{{ product.image.url }}" alt="{{ product.name }}" class="{{ cls|default:'product-image' }}">
{% elif product.category.slug == 'seeds' %}
<img src="{% static 'images/seeds.png' %}" alt="{{ product.name }}" class="{{ cls|default:'product-image' }}">
{% elif product.category.slug == 'powder' %}
<img src="{% static 'images/powder.png' %}" alt="{{ product.name }}" class="{{ cls|default:'product-image' }}">
{% elif product.category.slug == 'gifts' %}
<img src="{% static 'images/gift-pack.png' %}" alt="{{ product.name }}" class="{{ cls|default:'product-image' }}">
{% elif product.category.slug == 'green' %}
<img src="{% static 'images/premium-green.png' %}" alt="{{ product.name }}" class="{{ cls|default:'product-image' }}">
{% elif product.category.slug == 'premium-green' %}
<img src="{% static 'images/premium-green.png' %}" alt="{{ product.name }}" class="{{ cls|default:'product-image' }}">
{% else %}
<img src="{% static 'images/product-default.svg' %}" alt="{{ product.name }}" class="{{ cls|default:'product-image' }}">
{% endif %}
